<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dash" routerLinkActive="active" *ngIf="login.loggedIn()&& login.isAdmin()">dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Soumission D'articles</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          FR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">EN</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">AR</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        
          
            <h6 ><a class="nav-link" routerLink="/register" routerLinkActive="active" *ngIf="!login.loggedIn()">register</a></h6>
         
      </li>
      <li class="nav-item">
        
          
        <h6><a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!login.loggedIn()">login</a></h6>
     
  </li>
  <li class="nav-item">
        
          
      <h6><a class="nav-link" style="cursor :pointer !important;" *ngIf="login.loggedIn()" (click)= "logout()">logout</a></h6>
   
</li>
      
      
      
      


    </ul>
  </div>
</nav>
