/*body {
    padding-top: 54px;
  }*/
  
  /*@media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }*/

  .register {
    display: inline;
    padding-left: 3px;
    color: white;
    margin-left: 5px;
}
