<!-- Page Content -->
<!--haka lazmou yji-->
<div class="container">

  <div class="row" *ngIf="status">
    <!--malezmch famma navbar-->
    <!-- Post Content Column -->
    <div class="col-md-12">

      <!-- Date/Time -->
      <p>Posted on {{art.date | date}}</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

      <hr>

      <!-- Title -->
      <h1 class="mt-4">{{art.titre}}</h1>

      <!-- Author -->

      <h6>by
        <a (click)="onSelect(art.auteur)">{{art.auteur}}</a>
      </h6>




      <!-- Post Content -->


      <p>{{art.contenu}}</p>


      <!-- Comments Form -->

      <h5>Leave a Comment:</h5>
      <form>

        <textarea class="form-control" rows="3" type="text" name="corpssss" [(ngModel)]="corp" placeholder="add comment"
          [value]="textarea"></textarea>

        <button type="submit" class="btn btn-primary btn-md float-right" (click)="submit()">comment</button>
      </form>
      <ul class="list-group">
        <div *ngFor="let comment of comments, index as k">
          <li class="list-group-item list-group-item-info">
            <div class="media mb-4">

              <div class="media-body">
                <h5 class="mt-0">{{comment.Username}}</h5>
                <p>
                  <span class="badge badge-pill badge-secondary">{{comment.date|date}}</span>{{comment.corps}}</p>
                <button class="btn btn-secondary btn-md float-right" (click)="updates(comment._id,k)"
                  *ngIf="user.user._id==comment.IdUser">Modifier</button>
                <button class="btn btn-danger btn-md float-right" (click)="delete(comment._id)"
                  *ngIf="user.user.admin || user.user._id == comment.IdUser">Delete</button>


                <div class="media-body" *ngIf="updateState && (comment._id == ucomid)">
                  <form>

                    <input class="form-control" type="text" name="corpss" [(ngModel)]="updatecorp">
                    
                  

                    <button type="submit" class="btn btn-primary btn-md float-right"
                      (click)="update(comment._id)">Update</button>
                  </form>

                </div>





              </div>

            </div>
          </li>
        </div>
        
    
    </ul>
  </div>








  </div>

</div>
<!-- /.container -->
