<nav class="navbar-secondary" style="margin-top : 10 rem !important">
  <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
  <ul class="navbar-secondary-menu">
    <li>
      <a href="#"><span class="glyphicon glyphicon-list-alt" class="nav-label">Vos article</span></a>
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-envelope"
          class="nav-label">Ecrire un article</span></a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-cog" class="nav-label">modifier article</span></a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-cog" class="nav-label">effacer un article</span></a>

    </li>
  </ul>
</nav>
 